{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="about">
    <img src="{% static 'images/bar.png' %}">
    <div class="about-card">
        <div class="about-title">
                <h1>About Us...</h1>
        </div>
        <div class="about-detail">
                <p>At Ted's Bar and Cafe, we are passionate about providing a warm and inviting atmosphere where you can enjoy delicious food and drinks with friends and family. Located in the heart of the city, we have been serving our community for over a decade, and we take pride in being a go-to destination for locals and visitors alike.</p>

                
                    
                <p>We believe that good food is at the heart of any memorable dining experience. Our talented team of chefs brings together a fusion of flavors, using only the freshest ingredients sourced from local farmers and suppliers. From savory appetizers to mouthwatering entrees, our menu is carefully crafted to cater to a variety of tastes and dietary preferences. Whether you're in the mood for a hearty burger, a flavorful pasta dish, or a fresh salad, we have something to satisfy every craving.</p>
                    
                    
                
                <p>At Ted's Bar and Cafe, we value our customers and are grateful for the continued support we receive from the community. We invite you to join us and become part of our extended family. Whether you're looking for a cozy spot to catch up with friends, a venue for a celebration, or simply a place to unwind after a long day, we look forward to welcoming you with open arms.</p>
                    
                <p>Come experience the warmth, flavors, and hospitality that define Ted's Bar and Cafe. We can't wait to serve you and make your visit truly memorable.</p>
        </div>
    </div>
</div>
{% endblock %}