{% extends 'core/base.html' %}
{% load static %}
{% block content %}

<div class="about">
    <img src="{% static 'images/bar.png' %}">
    <div class="about-card">
        <div class="about-title">
                <h1>About Us...</h1>
        </div>
        <div class="about-detail">
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, natus nesciunt amet molestias corrupti laudantium repellat modi sunt soluta? Quae velit quo repellat dignissimos quasi dolor, possimus reprehenderit veritatis labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis nostrum eaque tempora porro quibusdam at praesentium cum quam tempore, et officiis ut rerum culpa, cupiditate atque. Repellat reprehenderit obcaecati totam. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repellat, modi voluptatum, mollitia fuga tempore consequatur enim nisi, labore molestiae quis et in atque praesentium odio suscipit eum tenetur id similique.</p>
                <br>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fuga, natus nesciunt amet molestias corrupti laudantium repellat modi sunt soluta? Quae velit quo repellat dignissimos quasi dolor, possimus reprehenderit veritatis labore. Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
    </div>
</div>
{% endblock %}