{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="checkout">
    <div class="checkout-container">
        <h1>Checkout</h1>
        <div class="order-summary">
            <p>Your Order Summary</p>
            <div class="order-items">
                <div style="flex:1"><strong></strong></div>
                <div style="flex:2"><strong>Item</strong></div>
                <div style="flex:1"><strong>Qty</strong></div>
                <div style="flex:1"><strong>Price</strong></div>
            </div>

            {% for c in cart%}
            <div class="order-items">
                <div style="flex:1"><img class="item-image" src="{{c.item.image.url}}"></div>
                <div style="flex:2">{{c.item.name}}</div>
                <div style="flex:1">{{c.quantity}}</div>
                <div style="flex:1">{{c.total_cost}}</div>
            </div>
            {% endfor %}

            <div class="order-total">
                <p>Total:  $ {{total_amount}}</p>
            </div>
        </div>

        <form action="" method="POST">
            {% csrf_token %}
            <div class="box">
                <div class="row">
                        <div class="title">Shipping Address</div>

                        <div class="input-box">
                            <span >Full Name:</span>
                            <input name="fullname" type="text" required>
                        </div>
                        <div class="input-box">
                            <span>Email:</span>
                            <input type="email" name="email" required>
                        </div>
                        <div class="input-box">
                            <span>Address:</span>
                            <input type="text" name="address" required>
                        </div>
                        <div class="input-box">
                            <span>Zip Code:</span>
                            <input type="text" name="zipcode" required>
                        </div>
                </div>

                <div class="row">
                    <div class="title">Payment</div>

                    <div class="input-box">
                        <span>Name on card:</span>
                        <input type="text" name="name_card" required>
                    </div>

                    <div class="input-box">
                        <span>Card Number::</span>
                        <input type="nummber" name="card_num" required>
                    </div>

                    <div class="input-box">
                        <span>Expiry Date: </span>
                        <div class="selection">
                            <div class="date">
                                <select name="months" required>
                                    <option value="1">Jan</option>
                                    <option value="2">Feb</option>
                                    <option value="3">Mar</option>
                                    <option value="4">Apr</option>
                                    <option value="5">May</option>
                                    <option value="6">Jun</option>
                                    <option value="7">Jul</option>
                                    <option value="8">Aug</option>
                                    <option value="9">Sep</option>
                                    <option value="10">Oct</option>
                                    <option value="11">Nov</option>
                                    <option value="12">Dec</option>
                                </select>
                                <select name="years" required>
                                    {% for year in years %}
                                    <option value="{{year}}">{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="input-box">
                        <span>CVC: </span>
                        <input type="text" name="cvc" required placeholder="3 Digits">
                    </div>
                </div>
            </div>
            <input class="btns" type="submit" value="Proceed to Checkout">
        </form>
    </div>
</div> 
{% endblock %}