{% extends 'core/base.html' %}
{% load static %}
{% block content %}
<div class="contact">
    <h1>contact us</h1>

    <div class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12770.633199681652!2d174.7643445!3d-36.8506588!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6d0d47e5388915ef%3A0x48a613bf09ef0c3f!2sFather%20Ted&#39;s%20Original%20Irish%20Pub!5e0!3m2!1sen!2skr!4v1680152888452!5m2!1sen!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="contact-us">
        <div class="contact-row">
            <div class="contact-col">
                <div>
                    <i class="fa-solid fa-location-dot"></i>
                    <span>
                        <h5>XXX Building, XXX Street,</h5>
                        <p>Auckland CBD, Auckland</p>
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-phone"></i>
                    <span>
                        <h5>09-XXX-XXXX</h5>
                        <p>Open 7days 7AM to 10PM</p>
                    </span>
                </div>
                <div>
                    <i class="fa-solid fa-envelope"></i>
                    <span>
                        <h5>info@tedbarandcafe.co.nz</h5>
                        <p>Email us your query</p>
                    </span>
                </div>
            </div>
            <div class="contact-col">
                <h4>Get in touch with us</h4>
                <form method="post">
                    {% csrf_token %}
                    {{ form.name }}
                    {{ form.email }}
                    {{ form.subject }}
                    {{ form.message }}
                    <button class="message-btn" type="submit">Send Message</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}