{% extends "core/base.html" %}
{% block content %} 


<div class="login">
    <span class="loginTitle">Login</span>
    <form method="POST" class="loginForm">
        {% csrf_token %}

        <label>Username:</label>
        <input class="loginInput" name="username" type="text" placeholder="Enter your username..." />
        
        <label>Password:</label>
        <input class="loginInput" name="password" type="password" placeholder="Enter your password..." />

        <button class="loginButton">Login</button>
        
        <div class="direct-register">Don't have an account? <a href="{% url 'register' %}"> Sign up</a></div>

    </form>
</div>
    
{% endblock %}
